html {
    height:109z%;
}

body {
    background-image: radial-gradient(#d4bb94,red);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: flex;
    justify-content: center;
    background-color: white;
    width:200px;
    border:solid black 2px;
    margin:0px auto 40px auto;
}

.title {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    font-size: xx-large;
}

.intro {
    margin:auto;
    display: flex;
    justify-content: center;
    border:solid black 2px;
    padding: 3px;
    gap: 4px;
    width:400px;
    background-color:white;
}

.sigma {
    margin-top:40px;
    border:solid black 2px;
}

.compare {
    display: flex;
    border:solid black 2px;
    padding:3px;
    justify-content: center;
    flex-direction: column  ;
    margin:auto;
    background-color:white;
}

.top {
    display: flex;
    gap: 100px;
    align-items: stretch;
    align-content: stretch;
}

.middle {
    display:flex;
    gap: 10px;
    align-content: stretch;
}

.desc {
    background-color:white;
    display:flex;
    border:solid black 2px;
    margin-top: 40px;
    padding:3px;
    flex-direction: column;
}

#bonus {
    font-style: italic;
}

.nutrition {
    background-color: white;
    display: flex;
    border: solid black 2px;
    padding: 3px;
    flex-direction: column;
    width: 2000px;
    margin-top: 40px;
}

table {
    border: solid black 2px;
    border-collapse: collapse;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  text-align: center;
}

#liststart {
    text-decoration: underline;
    font-size: larger;
    font-weight: bold;
}